xml2csv_transform/BillInfoDetails.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="BillInfoDetailsData">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" name="InvoiceNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="head_value2" name="InvoiceDate" type="xsd:string"/>							
							<xsd:element ibmDfdlExtn:sampleValue="head_value3" name="CashierName" type="xsd:string"/>							
                            <xsd:element ibmDfdlExtn:sampleValue="head_value4" name="CustomerName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value5" name="Customer_Phone" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value6" name="Category" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value7" name="ProductName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value8" name="UnitPrice" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value9" name="Quantity" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="InvoiceNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="InvoiceDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="CashierName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="CustomerName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" name="Customer_Phone" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" name="Category" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" name="ProductName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" name="UnitPrice" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" name="Quantity" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>