xmlSchema/books.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:bks="urn:books" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:books">
    
  <xsd:element name="books" type="bks:BooksForm"/>
    
  <xsd:complexType name="BooksForm">
        
    <xsd:sequence>
            
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="book" type="bks:BookForm"/>
            
    </xsd:sequence>
      
  </xsd:complexType>
    
  <xsd:complexType name="BookForm">
        
    <xsd:sequence>
            
      <xsd:element name="author" type="xsd:string"/>
            
      <xsd:element name="title" type="xsd:string"/>
            
      <xsd:element name="genre" type="xsd:string"/>
            
      <xsd:element name="price" type="xsd:float"/>
            
      <xsd:element name="pub_date" type="xsd:date"/>
            
      <xsd:element name="review" type="xsd:string"/>
          
    </xsd:sequence>
        
    <xsd:attribute name="id" type="xsd:string"/>
      
  </xsd:complexType>
  
</xsd:schema>
