NewSchema/note.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    
  <xs:element name="note">
        
    <xs:complexType>
            
      <xs:sequence>
                
        <xs:element name="to" type="xs:string"/>
                
        <xs:element name="from" type="xs:string"/>
                
        <xs:element name="heading" type="xs:string"/>
                
        <xs:element name="body" type="xs:string"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
  
</xs:schema>
