OutPut/output.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Documentary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Name"/>
        <xsd:element ref="publisher"/>
        <xsd:element ref="status"/>
        <xsd:element ref="amount"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="amount" type="xsd:string"/>
  <xsd:element name="publisher" type="xsd:string"/>
  <xsd:element name="Name" type="xsd:string"/>
  <xsd:element name="status" type="xsd:string"/>
</xsd:schema>
