WsdlMessage/WsdlCreation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
  <xsd:complexType name="RequestMessage">
        
    <xsd:sequence>
            
      <xsd:element ref="EmpAddress"/>
            
      <xsd:element ref="EmpID"/>
            
      <xsd:element ref="EmpName"/>
            
      <xsd:element ref="EmpPhone"/>
            
      <xsd:element ref="EmpState"/>
          
    </xsd:sequence>
      
  </xsd:complexType>
    
  <xsd:complexType name="ResponseMessage">
        
    <xsd:sequence>
            
      <xsd:element ref="Status"/>
          
    </xsd:sequence>
      
  </xsd:complexType>
    
  <xsd:complexType name="Fault">
        
    <xsd:sequence>
            
      <xsd:element ref="Fault"/>
          
    </xsd:sequence>
      
  </xsd:complexType>
    
  <xsd:element name="EmpName" type="xsd:string"/>
    
  <xsd:element name="EmpID" type="xsd:string"/>
    
  <xsd:element name="EmpPhone" type="xsd:int"/>
    
  <xsd:element name="EmpState" type="xsd:string"/>
    
  <xsd:element name="EmpAddress" type="xsd:string"/>
    
  <xsd:element name="Status" type="xsd:string"/>
    
  <xsd:element name="Fault" type="xsd:string"/>
    
  <xsd:element name="RequestMessage" type="RequestMessage">
  </xsd:element>
    
  <xsd:element name="ResponseMessage" type="ResponseMessage">
  </xsd:element>
    
  <xsd:element name="Fault1" type="Fault">
  </xsd:element>
  
</xsd:schema>
