TEST/TEST_CSV/TEST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../IBMdefined/CommaSeparatedFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element ibmSchExtn:docRoot="true" name="TEST">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:separator="">
                				
        
        <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="head_value1" name="head_field1" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="head_value2" name="head_field2" type="xsd:string"/>
                            							
							
              
              <xsd:element ibmDfdlExtn:sampleValue="head_value3" name="head_field3" type="xsd:string"/>
                            							
						
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                			
				
        
        <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence>
                             
							
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="firstName" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="lastName" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="" name="Address" type="xsd:string"/>
                            						
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                				
			
      
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
