Xml_Input/Input.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="author" type="xsd:string"/>
  <xsd:element name="price" type="xsd:string"/>
  <xsd:element name="book">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="title"/>
        <xsd:element ref="author"/>
        <xsd:element ref="genre"/>
        <xsd:element ref="price"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="genre" type="xsd:string"/>
  <xsd:element name="title" type="xsd:string"/>
</xsd:schema>
